<h1>Welcome, {{player.name}}!</h1>
<p>Now add some celebrities:</p>
<form name="form">
  <div class="form-group">
    <input type="text" class="form-control input-lg text-left" placeholder="Dave Coulier" ng-model="formData.name">
  </div>

  <button type="submit" class="btn btn-primary btn-lg" ng-click="addCelebrity()">Add</button>

  <div class="alert alert-danger" ng-show="errorMessage">
    {{errorMessage}}
  </div>


</form>

<table class="table">
  <thead>
    <tr>
      <th>Celebrities added</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="celebrity in player.celebrities">
      <td>{{celebrity.name}}</td>
    </tr>
  </tbody>
</table>
