<div class="container">

  <div class="col-sm-8 col-sm-offset-2">
    <div class="jumbotron">
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Your Name: </label>
          <input type="text" class="form-control input-lg text-left" placeholder="Bog Sagat" ng-model="formData.name">
        </div>

        <!-- createIdea() will create new ideas -->
        <button type="submit" class="btn btn-primary btn-lg" ng-click="joinGame()">Join Game</button>
      </form>
    </div>
  </div>
</div>
