<div class="container">

  <div class="col-sm-8 col-sm-offset-2">

    <div class="row" ng-hide="gameStarted">

      <h1>Enter your name to get started:</h1>
      <form name="form">
        <div class="form-group">
          <input type="text" class="form-control input-lg text-left" placeholder="Bog Sagat" ng-model="formData.name" name="name" ng-change="errorMessage=''">
        </div>

        <button type="submit" class="btn btn-primary btn-lg" ng-click="joinGame()">Join Game</button>

        <div class="alert alert-danger" ng-show="errorMessage">
          {{errorMessage}}
        </div>

      </form>

    </div>

    <div class="row" ng-show="gameStarted">
      <h1>Click your name to resume the game:</h1>

      <table class="table">
        <thead>
          <tr>
            <th>Players</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="player in game.players">
            <td><a href="" ng-click="resumeGame(player)">{{player.name}}</a></td>
          </tr>
        </tbody>

      </table>

    </div>


  </div>
</div>
