<div class="container">

  <div class="col-sm-8 col-sm-offset-2">
    <h3>{{player.name}} - {{player.teamName}} ({{currentRound()}})</h3>
  </div>

  <div ng-show="gameStatus == 1" class="col-sm-8 col-sm-offset-2">
    <div class="jumbotron">
      <h1>Round 1: Taboo</h1>
      <h3>When it's your turn, get your teammates to guess as many celebrities as possible in 1 minute - you can use any word except that celebrity's name.</h3>
      <button type="submit" class="btn btn-primary btn-lg" ng-click="continue()">Continue</button>
    </div>
  </div>

  <div ng-show="gameStatus == 2" class="col-sm-8 col-sm-offset-2">
    <div class="jumbotron">
      <h1>Round 2: One Word</h1>
      <h3>This time, you can only use one word per celebrity. And it still can't be thir name, of course. </h3>
      <button type="submit" class="btn btn-primary btn-lg" ng-click="continue()">Continue</button>
    </div>
  </div>

  <div ng-show="gameStatus == 3" class="col-sm-8 col-sm-offset-2">
    <div class="jumbotron">
      <h1>Round 3: Charades</h1>
      <h3>No words in the final round - just acting!</h3>
      <button type="submit" class="btn btn-primary btn-lg" ng-click="continue()">Continue</button>
    </div>
  </div>

  <div ng-show="gameStatus == 4" class="col-sm-8 col-sm-offset-2">
    <h1>Game Over</h1>
  </div>

  <div ng-show="gameStatus == 4 || (gameStatus == 0 && status == 0)">
    <scoreboard game="player.game"></scoreboard>
  </div>

  <div ng-show="gameStatus == 0" class="col-sm-8 col-sm-offset-2">

    <div ng-show="status == 1">
      <h1>It's your turn. Good luck!</h1>

      <div id="start-turn">
        <button type="submit" class="btn btn-primary btn-lg" ng-click="startTurn()">Start Turn</button>
      </div>
    </div>

    <div ng-show="status == 2">
      <div class="jumbotron">
        <h1>{{turn.celebrity.name}}</h1>

        <button type="button" class="btn btn-success btn-lg" ng-click="addAttempt(true)">Right</button>

        <button type="button" class="btn btn-danger btn-lg" ng-click="addAttempt(false)">Wrong</button>

        <h3>Time Remaining: {{timeRemaining}}</h3>
      </div>
    </div>

    <div ng-show="status == 3">
      <h1>Good job!</h1>
      <h3>Here's how you did:</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Right</th>
            <th>Wrong</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{turnResults.right}}</td>
            <td>{{turnResults.wrong}}</td>
          </tr>
        </tbody>
      </table>

      <button type="submit" class="btn btn-primary btn-lg" ng-click="finishTurn()">Finish</button>

    </div>


  </div>


</div>
