<div ng-show="player" class="row">
  <p>{{player.name}} - {{player.teamName}}</p>
</div>

<div ng-show="gameStatus == 1" class="row">
  <h1>The Teams:</h1>
  <div class="row">
    <div class="col-xs-6">
      <team-summary info="player.game.teamA"></team-summary>
    </div>

    <div class="col-xs-6">
      <team-summary info="player.game.teamB"></team-summary>
    </div>
  </div>
</div>

<div ng-show="gameStatus > 0" class="row">
  <game-directions game="player.game"></game-directions>
  <form ng-show="gameStatus != 4">
    <button type="submit" class="btn btn-primary btn-lg" ng-click="continue()">Continue</button>
  </form>
</div>

<div ng-show="gameStatus == 4 || (gameStatus == 0 && status == 0)">
  <scoreboard game="player.game"></scoreboard>
</div>

<div ng-show="gameStatus == 0" class="row">

  <div ng-show="status == 1">
    <h1>It's your turn. Good luck!</h1>

    <form>
      <button type="submit" class="btn btn-primary btn-lg" ng-click="startTurn()">Start Turn</button>
    </form>
  </div>

  <div ng-show="status == 2">
    <h1>{{turn.celebrity.name}}</h1>

    <form>

      <button type="button" class="btn btn-success btn-lg btn-half" ng-click="addAttempt(true)">Right</button>

      <button type="button" class="btn btn-danger btn-lg btn-half" ng-click="addAttempt(false)">Skip</button>

    </form>

    <p>Time Remaining: {{timeRemaining}}</p>
  </div>

  <div ng-show="status == 3">
    <h1>Good job!</h1>
    <p>Here's how you did:</p>

    <table class="table">
      <thead>
        <tr>
          <th>Right</th>
          <th>Wrong</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{turnResults.right}}</td>
          <td>{{turnResults.wrong}}</td>
        </tr>
      </tbody>
    </table>

    <form>
      <button type="submit" class="btn btn-primary btn-lg" ng-click="finishTurn()">Finish</button>
    </form>

  </div>

</div>
