<div class="container">

  <div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <div class="row">
      <h1>Game created</h1>

      <p>Visit <a href={{game.joinUrl}}>{{game.joinUrl}}</a> on your mobile phone to join this game!</p>

      <p>To start the game, at least 4 players must join, and at least 20 celebrities must be added. </p>

      <form>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="startGame()">Start Game</button>
      </form>

      <div class="alert alert-danger" ng-show="errorMessage">
        {{errorMessage}}
      </div>
    </div>

    <div class="row">

      <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>Players</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="player in game.players">
              <td>{{player.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>Celebrities added</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{game.celebrities.length}}</td>
            </tr>
          </tbody>
        </table>

      </div>

  </div>

</div>
