
<div class="splash-screen">
  <p class="logo logo-large">Celebrity</p>
</div>

<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

  <form>

    <div class="row">
      <button type="submit" class="btn btn-primary btn-lg btn-full" ng-click="createGame()">Create Game</button>
    </div>

    <div class="row">
      <button type="submit" class="btn btn-secondary btn-lg btn-full" ng-click="joinGame()">Join Game</button>
    </div>

    <div class="row">
      <button type="submit" class="btn btn-secondary btn-lg btn-full" ng-click="resumeGame()">Game Dashboard</button>
    </div>

  </form>

</div>
